@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    margin: 0;
}

.content {
    text-align: left;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Nunito;
    font-size: 18px;
}

.content c {
    padding: 0px, 12px;
    font-size: 16px;
}

.topnav {
    padding: 20px 8px;
    background: rgb(255,199,199);
    background: linear-gradient(312deg, rgba(255,199,199,1) 0%, rgba(245,180,180,1) 100%);
    overflow: hidden;
}

.topnav a {
    float: right;
    color: #000000;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Nunito;
}

.topnav c {
    float: left;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-family: Nunito;
}

.header {
    padding: 70px;
    background: rgb(255,199,199);
    background: linear-gradient(312deg, rgba(255,199,199,1) 0%, rgba(245,180,180,1) 100%);
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-family: Nunito, bold;
}

.news_column {   
    float: left;
    width: 100%;
}

.news_card {
    background-color: rgb(252, 253, 255);
    padding: 20px;
    font-family: Nunito;
}